# Name:Nandunam Sai Kuimar

# College:Department of Operational Research

# Section: B

# Practical/Assignment- 4

In [2]:
# 1. Write a Program to enter the 5 subjects numbers and print the grades A/B/C/D/E.
# Enter the five subjects numbers and prints the grades
subject1=int(input("Enter marks for subjects 1: "))
subject2=int(input("Enter marks for subjects 2: "))
subject3=int(input("Enter marks for subjects 3: "))
subject4=int(input("Enter marks for subjects 4: "))
subject5=int(input("Enter marks for subjects 5: "))
average = (subject1+subject2+subject3+subject4+subject5+subject5)/5
if average>=90:
    grade = "A"
elif average>=80:
    grade= "B"
elif average>=70:
    grade = "C"
elif average>=60:
    grade = "D"
else:
    grade = "E"
print("Your average marksi:",average)
print("Your letter grade is:",grade)

Enter marks for subjects 1: 55
Enter marks for subjects 2: 67
Enter marks for subjects 3: 78
Enter marks for subjects 4: 70
Enter marks for subjects 5: 84
Your average marksi: 87.6
Your letter grade is: B

In [10]:
# Display the parttern
size=5
for i in range(size):
    for j in range(size-i-1):
        print(" ",end=" ")
    for j in range(i,-1,-1): 
        print(5-j,end=" ")
    print( )

        5
      4 5
    3 4 5
  2 3 4 5
1 2 3 4 5

In [6]:
# To calculate value of sin(x) using its taylor series expansion upto n terms
import math
def sin(x,n):
    x=math.radians(x)
    sum=0
    sign=1
    for i in range(1,n*2,2):
        term=(x**i)/math.factorial(i)
        sum+=sign * term
        sign *= -1
        
    return sum
print(sin(30,10))

0.49999999999999994